.dashboard-container {
    background-color: #1a1a1a;
    color: white;
    font-family: sans-serif;
    padding: 20px;
  }
  
  .restaurant-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .restaurant-main {
    display: flex;
    align-items: flex-start;
  }
  
  .restaurant-logo {
    width: 175px;
    height: 175px;
    background-color: #727272;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
  
  .restaurant-info p {
    margin: 4px 0;
    font-size: 24px;
    text-align: left;
  }
  
  .dashboard-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  
  .dashboard-buttons button {
    width: 180px;
    height: 64px;
    border-radius: 10px;
    background-color: #505050;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-size: 24px;
  }
  
  .divider {
    border: 0.5px solid #ccc;
    margin: 20px 0;
  }
  
  .dashboard-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .sort-label {
    font-size: 24px;
    color: #FFFFFF;
  }

  .sort-option {
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 0px 15px;
  }
  
  .filters {
    background-color: #505050;
    padding: 15px;
    border-radius: 8px;
    width: 180px;
    text-align: left;
  }
  
  .filter-section {
    margin-bottom: 20px;
  }
  
  .price-range {
    display: flex;
    gap: 5px;
  }
  
  .price-range input {
    width: 40px;
    padding: 4px;
  }


  .product-label {
    padding: 15px;
    text-align: left;
    font-size: 24px;
  }

  .products {
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .product-card {
    background-color: #505050;
    padding-top: 20px;
    border-radius: 8px;
    width: 142px;
    color: white;
    white-space: normal;
    overflow-wrap: break-word;
  }

  .product-img {
    background-color: #ccc;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .product-info p {
    margin: 4px 0;
    text-align: left;
    padding-left: 10px;
  }

  .product-name{
    font-size: 24px;
  }

  .product-place {
    font-size: 14px;
  }

  .product-rating {
    font-size: 11px;
  }

  .product-price {
    font-size: 20px;
  }
  
  .statistics {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
  }
  
  .min-price {
    text-align: right;
    margin-bottom: 10px;
  }
  
  .chart {
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 8px;
    width: 200px;
  }
  
  .chart-bars {
    height: 100px;
    background: repeating-linear-gradient(
      to right,
      #ccc,
      #ccc 4px,
      transparent 4px,
      transparent 8px
    );
    margin-bottom: 10px;
  }


  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
    color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  