.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
}

.restaurant-header {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  padding-left: 90px;
  padding-right: 90px;
}

.restaurant-main {
  display: flex;
  align-items: flex-start;
  width: 50%;
  margin-left: 3rem;
  margin-top: 1rem;
}

.dashboard-buttons {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto 6% 1% auto;
  gap: 10px;
}

.buttons {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
}

.restaurant-logo {
  width: 175px;
  height: 175px;
  background-color: var(--additional-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.restaurant-logo-img {
  width: 175px;
  height: 175px;
  background-color: var(--additional-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant-info p {
  margin: 4px 0;
  font-size: 24px;
  text-align: left;
}

.dashboard-buttons button:hover {
  transition: background-color 0.2s ease;
}

.divider {
  border: 0.5px solid var(--text-color);
}

.dashboard-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product-label {
  padding: 15px;
  text-align: left;
  font-size: 24px;
}

.products {
  padding-left: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(142px, 1fr));
  width: 80%;
  gap: 20px;
}

.min-price {
  text-align: left;
  margin-bottom: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: var(--module-bg);
  padding: 20px;
  border-radius: 8px;
  color: var(--text-color);
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-content input,
.modal-content textarea {
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--detail-color);
  color: var(--text-color);
}

.modal-image-container {
  width: 80%;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-image {
  max-width: 300px;
  max-height: 300px;
}

.modal-placeholder-container {
  padding: 40%;
  margin-bottom: 5%;
  border: 1px solid var(--text-color);
}

.modal-placeholder-text {
  text-align: center;
}

.modal-file-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.modal-file-input-button {
  width: 200px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  color: var(--text-color);
  border: none;
  font-size: 24px;
  cursor: pointer;
}
