.navbar {
  width: 100vw;
  height: 4vw;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color:  var(--module-bg);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.silverforkheader {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.silverforktext {
  width: fit-content;
  padding: 1rem;
  font-size: 36px;
  font-weight: bold;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
  width: 80%;
  height: 100%;
  gap: 25px;
}

.logoutButton {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}

.links a {
  width: fit-content;
  font-size: 1.2rem;
  color: var(--text-color);  
}

.links div {
  display: flex;
  align-items: center;
  justify-content: center;
}

a:visited, a:link, a:active {
  color: var(--text-color);
}

.navButton {
  border-radius: 10px;
  width: 10%;
}

.searchBar {
  background: var(--bg-color);
  border-radius: 10px;
  width: 50%;
  height: 60%;
  margin-right: auto;
  padding-left: 8px;
  color: var(--text-color)
}

.notificationContainer {
  position: relative;
}

.notificationDropdown {
  position: absolute;
  top: 3rem;
  right: 0;
  background-color: var(--module-bg);
  color: var(--text-color);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0.5rem;
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.notificationItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items:flex-start;
  padding: 0.25rem;
  background-color: var(--bg-color);
  border-radius: 5px;
}

.notificationItem span:first-child {
  text-align: left;
  flex-grow: 1;
  white-space: pre-wrap;
}

.notificationMessage {
  flex: 1;
  text-align: left;
  word-break: break-word;
  white-space: pre-wrap;
}

.notificationUnread {
  background-color: var(--additional-color);
  border-left: 4px solid red;
}

.notificationBadge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.notificationDelete {
  margin-left: 10px;
  cursor: pointer;
  color: gray;
  flex-shrink: 0;
}

.notificationDelete:hover {
  color: red;
}
