.title {
  font-size: 30px;
  margin-left: 5%;
  color: var(--text-color);
}

.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.orderContainer {
  width: 90%;
  height: 25%;
  margin: 0.5% 0 0.5% 0;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background: var(--module-bg);
}

.leftContainer {
  height: 98%;
  width: 50%;
  margin: 0.5%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.infoContainer {
  height: 100%;
  width: 64%;
  margin-right: 0.5%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background: var(--additional-color);
}

.imageContainer {
  width: 20%;
  aspect-ratio: 1/1;

  margin-left: 1.5%;
  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #B7B7B7;
}

.detailsContainer {
  height: 100%;
  width: 75%;
  margin-left: 0.5%;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.buttonsContainer {
  height: 100%;
  width: 35%;
  margin-left: 0.5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: var(--additional-color);
}

.rightContainer {
  height: 98%;
  width: 50%;
  margin: 0.5%;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

  background: var(--additional-color);
}

.addressTitle {
  align-self: center;
  font-size: 18px;
}

.addressText {
  margin: 0 1% 0 1%;
}
