#root {
  max-width: 100%;
  max-height: 100%;
  margin: 0 0;
  background-color: var(--bg-color);
}

.recommendations-page {
  padding: 80px 3rem 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.recommendations-container {
  display: flex;
  flex-direction: column;

  border-radius: 15px;
  background-color: var(--darker-module-bg);
  padding: 1% 0 2% 0;
  margin: 0 10% 5% 10%;
}

.recommendations-title {
  font-size: 36px;
  text-align: left;
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 0 2rem;
}

.restaurants-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 2rem;
}
