:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--text-color, #000000);
  background-color: var(--bg-color, #ffffff);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;

  --bg-color: #ffffff;
  --module-bg: #e0e0e0;
  --text-color: #000000;
  --detail-color: #444444;
  --additional-color: #bbbbbb;
  --darker-additional: #aaaaaa;
  --text-hover-color: #a70000;
}

:root.dark {
  --bg-color: #1f1f1f;
  --module-bg: #505050;
  --text-color: #ffffff;
  --detail-color: #878787;
  --additional-color: #727272;
  --darker-additional: #646464;
  --text-hover-color: #ffd700;
}
