.productContainer{
  width: 100%;
  height: 100%;
  background-color: #1F1F1F;
}

.productButton {
  background-color: #575757;
  border: none;
  color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.productSection {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
  background-color: #1F1F1F;
}

.productImage {
  width: 300px;
  height: 370px;
  background-color: #575757;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.6rem;
  border-radius: 1rem;
  margin-left: 4rem;
  margin-top: 3rem;
}

.productDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 2rem;
  margin-top: 3rem;
}

.productName,
.productRestaurantName,
.productRating,
.productDescription,
.productPrice {
  font-size: 1.8rem;
}

.productActionButtons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.productDivider {
  display: flex;
  border: 0.5px solid #ccc;
  max-width: 20px 0;
  margin-left: 4rem ;
  margin-bottom: 2rem;
}
.productReviewSection {
  display: flex;
  flex-direction: column;
  margin-left: 4rem ;
  width: 100%;
  color: white;
}

.productReviewTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.productReviewOrder{
  display: flex;
  flex-direction: row;
}
.productReviewCard {
  display: flex;
  flex-direction: row;
  background-color: #575757;
  padding: 1rem;
  border-radius: 1rem;
  width: 20%;
  margin-right: 1rem;
}
.productReviewCard p{
  background-color: #2c2c2c;
  padding: 2rem;
  border-radius: 1rem;

}
.productReviewCard hr{
  background-color: #575757;
  padding: 0.5rem;
  border: none;
}