.courier-dashboard {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

.dashboard-body {
  display: flex;
  padding-left: 90px;
  padding-right: 90px;
  gap: 75px;
}

.left-panel {
  flex: 3;
}

.assignments-list {
  display: flex;
  flex-direction: column;
}

.assignment-card {
  background-color: var(--module-bg);
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  overflow: hidden;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 150px;
}

.assignment-card:hover {
  transform: translateY(-4px);
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 24px;
}

.stats p {
  margin: 5px 0;
}

.view-restaurants {
  background-color: var(--module-bg);
  color: var(--text-color);
  border: none;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  margin: 10px 0;
  font-size: 24px;
  width: 250px;
}
