.courierDashboard {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

.dashboardBody {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}

.leftPanel {
  display: flex;
  flex-direction: column;

  width: 60%;
  margin-left: 5%;
  margin-right: 3%;
}

.rightPanel {
  display: flex;
  flex-direction: column;

  width: 24%;
  margin-left: 3%;
  margin-right: 5%;
  gap: 2rem;
}

.assignmentsList {
  overflow: auto;

  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.assignmentsListTitle {
  font-size: 28px;
  font-style: oblique;
  margin-left: 1%;
}

.stats {
  margin: 5px 0;
}

.availabilityLabel {
  margin-left: 10px;
  font-size: 18px;
}

.restaurantsList {
  display: flex;
  flex-direction: column;

  width: 100%;
  gap: 10px;
}

.restaurantsListTitle {
  font-size: 24px;
}
